# Virtual environment
.venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt

# Coverage reports
# ИСКЛЮЧАЕМ htmlcov из игнорирования для отчета о покрытии
# htmlcov/
.coverage
.coverage.*
*.cover
.pytest_cache/

# Poetry
poetry.lock

# Logs
*.log